{% extends "base.html" %}

{% block title %}
  {{ user.username }}'s profile
{% endblock %}

{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded account-img" src="{{ user.profile.profile_pic.url }}" alt="{{ post.created_by.username }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">
            Created on    : {{ user.profile.created_at }}<br>
            No of Posts   : {{ user.posts.count }}<br>
            No of Threads : {{ user.thread.count }}
          </p>
        </div>
    </div>
    <!-- put stuff here -->
</div>
{% endblock content %}