{% extends 'forum/base.html' %}

{% block title %}
  {{ board.name }}
{% endblock %}

{% block heading %}
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item active">
      <a href="{% url 'forum-home' %}">Boards</a> / {{ board.name }}
    </li>      
</ol>
</h2>
{% endblock %}

{% block content %}
  <div class="container">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Topic Name</th>
        <th>Posts</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
        <tr>
          <td>
            <a href="#">{{ topic.name }}</a>
            <small class="text-muted d-block">{{ topic.created_user }}</small>
          </td>
          <td class="align-middle">0</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}