{% extends 'forum/base.html' %}

{% block title %}
  {{ forum.name }}
{% endblock %}

{% block heading %}
  {% if request.user.is_authenticated %}
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item active">
      <a href="{% url 'forum-list' %}">Forums</a> / {{ forum.name }}
    </li>      
  </ol>
  {% else %}
    <h3>
    <div class="pt-3">
        <small>
          You have to be logged in to access the forums!<a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
    </h3>
    <div class="border-top pt-3">
      <small class="text-muted">
        Don't Have An Account?<a class="ml-2" href="{% url 'register' %}">Sign Up</a>
      </small>
    </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %} {% if request.user.is_authenticated %}
  <div class="container">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Topic Name</th>
        <th>Posts</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
        <tr>
          <td>
            <a href="#">{{ topic.name }}</a>
            <small class="text-muted d-block">{{ topic.created_user }}</small>
          </td>
          <td class="align-middle">0</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %} {% endblock %}