{% extends 'base.html' %}

{% block title %}
  New Post in {{ thread.name }}
{% endblock %}

{% block heading %}
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a href="{% url 'forum-list' %}">Forums</a></li>
    {% if thread.forum.forum %}
        <li class="breadcrumb-item active"><a href="{% url 'forum-threads' thread.forum.forum.id %}">{{ thread.forum.forum.name }}</a></li>      
    {% endif %}
    <li class="breadcrumb-item"><a href="{% url 'forum-threads' thread.forum.id %}">{{ thread.forum.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'thread-posts' thread.id %}">{{ thread.name }}</a></li>
    <li class="breadcrumb-item">New Post<li>
  </ol>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_sub">Subject</label>
      <input type="text" class="form-control" id="id_subject" name="subject" value="Re: {{ thread.name }}">
    </div>
    <div class="form-group">
      <label for="id_post">Message</label>
      <textarea class="form-control" id="id_post" name="post"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock %}