{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  List
{% endblock %}

{% block content %}


  {% for file in files %}
    <div class="card mb-2">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-2">
            <img class="w-100 rounded" src="{{ file.user.profile.profile_pic.url }}" alt="{{ file.user.username }}"><br>
          </div>
          <div class="col-10">
            Name of the file = {{ file.name }}
            Uploaded by = {{ file.user }}
            file = {{ file.data }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock content %}